/* Michal Cichon's Website */

html, body {
  margin: 0;
  padding: 0;
  height: 100%;
  font-family: 'Poiret One';
}

/* Top Navigation */

ul.topnav {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
  font-family: 'Poiret One', cursive;
}

ul.topnav li {
  float: left;
}

ul.topnav li a {
  display: inline-block;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  transition: 0.3s;
  font-size: 17px;
}

ul.topnav li a:hover {
  background-color: #555;
}

ul.topnav li a.active {
  background-color: #444;
}

ul.topnav li.icon {
  display: none;
}

@media screen and (max-width:680px) {
  ul.topnav li:not(:first-child) {display: none;}
  ul.topnav li.icon {
    float: right;
    display: inline-block;
  }
}

@media screen and (max-width:680px) {
  ul.topnav.responsive {position: relative;}
  ul.topnav.responsive li.icon {
    position: absolute;
    right: 0;
    top: 0;
  }
  ul.topnav.responsive li {
    float: none;
    display: inline;
  }
  ul.topnav.responsive li a {
    display: block;
    text-align: left;
  }
}

/* My photo */

.my-photo {
  margin-right: 10px;
  width: 76px;
  height: 76px;
  border-radius: 38px;
  -webkit-border-radius: 38px;
  -moz-border-radius: 38px;
  vertical-align: middle;
}

/* Main */

.top-h1 {
  line-height: 76px;
  padding-bottom: 10px;
}

#main-space {
  margin: 24px 26px;
  font-family: 'Raleway';
  font-size: 100%;
  line-height: 1.6875;
}

/* Links */

/* unvisited link */
#main-space a:link {
    color: #555;
    text-decoration: none;
    border-bottom: 1px solid #eee;
}

/* visited link */
#main-space a:visited {
    color: #555;
    text-decoration: none;
    border-bottom: 1px solid #eee;
}

/* mouse over link */
#main-space a:hover {
    color: #222;
    text-decoration: none;
    border-bottom: 1px solid #222;
}

/* selected link */
#main-space a:active {
    color: #555;
    text-decoration: none;
    border-bottom: 1px solid #eee;
}

h1 {
  font-size: 150%;
  border-bottom: 2px solid rgba(75, 0, 130, 0.65);
  margin-bottom: 30px;
}

p {
  font-size: 120%;
  margin-top: 10px;
  color: #222;
}

/* Social Links */

#social-links {
  font-family: 'Roboto';
  margin: 24px 26px;
  text-align: center;
}

#social-links ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: inline-block;
}

#social-links li {
  margin-bottom: 20px;
}

#social-links li.github {
  background: url("../img/github.png");
  background-size: 40px 40px;
  background-repeat: no-repeat;
  height: 40px;
  float: left;
  margin-right: 20px;
}

#social-links li.linkedin {
  background: url("../img/linkedin.png");
  background-size: 40px 40px;
  background-repeat: no-repeat;
  height: 40px;
  float: left;
  margin-right: 20px;
}

#social-links li.twitter {
  background: url("../img/twitter.png");
  background-size: 40px 40px;
  background-repeat: no-repeat;
  height: 40px;
  float: left;
  margin-right: 20px;
}

#social-links a {
  text-decoration: none;
  color: #555;
}

#social-links a:hover {
  text-decoration: none;
  color: #222;
}

#social-links li span {
  line-height: 40px;
  font-size: 100%;
  margin-left: 50px;
}

/* Footer */

#footer {
  padding: 24px 26px;
  background-color: #999;
  font-family: 'Raleway';
  font-size: 80%;
}