---
layout: default
---

{% assign date_format = site.minima.date_format | default: "%b %-d, %Y" %}

<div class="blog">
  
  {{ content }}

  <ul class="post-grid">
    {% for post in site.posts %}
      <li class="post-card">
        <a class="post-card__link" 
          href="{{ post.url | relative_url }}" 
          data-event="blog_list_click" 
          data-section="blog_index" 
          data-element="post" 
          data-content="thumb" 
          data-position="{{ forloop.index }}">
          {% if post.image %}
            <div class="post-card__cover">
              <img
                class="post-card__img"
                src="{{ post.image | relative_url }}"
                alt="{{ post.image_alt | default: post.title | escape }}"
                loading="lazy"
                decoding="async">
            </div>
          {% else %}
            <span class="post-card__cover"></span>
          {% endif %}
          <div class="post-card__body">
            <h2 class="post-card__title">{{ post.title | escape }}</h2>
            <time class="post-card__date" datetime="{post.date}">{{ post.date | date: date_format }}</time>
            <p class="post-card__excerpt">{{ post.description }}</p>
          </div>
        </a>
      </li>
      <!-- <li class="post-element">
        {% if post.thumbnail %}
          <a class="link-around-image"
             {% if post.background %}style="background-color: {{post.background}}"{% endif %}
             href="{{ post.url | relative_url }}"
             data-event="blog_list_click" data-section="blog_index" data-element="post" data-content="thumb" data-position="{{ forloop.index }}">
            <img class="post-thumbnail" src="{{site.url}}/assets/thumbnails/{{post.thumbnail}}" alt="">
          </a>
        {% else %}
          <a class="link-around-image thumbnail-default-background"
             href="{{ post.url | relative_url }}"
             data-event="blog_list_click" data-section="blog_index" data-element="post" data-content="thumb" data-position="{{ forloop.index }}">
            <img class="post-thumbnail" src="{{site.url}}/assets/thumbnails/default.png" alt="">
          </a>
        {% endif %}

        {% assign date_format = site.minima.date_format | default: "%b %-d, %Y" %}
        <span class="post-meta">{{ post.date | date: date_format }}</span>

        <h2>
          <a class="post-link"
             href="{{ post.url | relative_url }}"
             data-event="blog_list_click" data-section="blog_index" data-element="post" data-content="title" data-position="{{ forloop.index }}">
            {{ post.title | escape }}
          </a>
        </h2>

        <a class="no-decoration"
           href="{{ post.url | relative_url }}"
           data-event="blog_list_click" data-section="blog_index" data-element="post" data-content="desc" data-position="{{ forloop.index }}">
          <p class="post-description">{{ post.description }}</p>
        </a>
      </li>
      <li style="clear: both; height: 10px;"></li> -->
    {% endfor %}
  </ul>

  <div class="bigger-navigation-button green">
    <a href="{{ "/feed.xml" | relative_url }}"
       data-event="subscribe_click" data-section="blog_index" data-element="rss" data-position="bottom_button">
      Subscribe via RSS
    </a>
  </div>
</div>
