<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <title>{% if page.title %}{{ page.title }} | {% endif %}{{ site.title }}</title>
    <link href="https://fonts.googleapis.com/css?family=Raleway%7CPoiret+One%7CRoboto%7CRoboto+Condensed&subset=latin-ext" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="{{site.baseurl}}/css/main.min.css?t={{site.time | date_to_xmlschema}}">
    <link rel="icon" type="image/png" sizes="64x64" href="{{site.baseurl}}/icon.png">
    <link rel="apple-touch-icon" sizes="180x180" href="{{site.baseurl}}/apple-touch-icon.png">
    <meta name="msapplication-square70x70logo" content="{{site.baseurl}}/ms-icon-70.png">
    <meta name="msapplication-square150x150logo" content="{{site.baseurl}}/ms-icon-150.png">
    <meta name="msapplication-square310x310logo" content="{{site.baseurl}}/ms-icon-310.png">
    <meta name="msapplication-TileColor" content="#ffffff">
    <link rel="alternate" type="application/rss+xml" title="RSS Feed" href="{{site.baseurl}}/feed.xml" />
    <meta name="theme-color" content="#ffffff">
    <meta name="description" content="{% if page.description %}{{ page.description }}{% else %}{{ site.description }}{% endif %}">
    <meta name="keywords" content="{% if page.keywords %}{{ page.keywords }}{% else %}{{ site.keywords }}{% endif %}">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta property="og:title" content="{% if page.title %}{{ page.title }} | {% endif %}{{ site.title }}">
    <meta property="og:description" content="{% if page.description %}{{ page.description }}{% else %}{{ site.description }}{% endif %}">
    <meta property="og:url" content="https://michalcichon.github.io{{page.url}}">
    <meta property="og:image" content="{% if page.image %}https://michalcichon.github.io/{{ page.image }}{% else %}https://michalcichon.github.io/img/michal.jpeg{% endif %}">
    <meta property="profile:first_name" content="Michał">
    <meta property="profile:last_name" content="Cichoń">
    <script src="{{site.baseurl}}/js/main.min.js?t={{site.time | date_to_xmlschema}}"></script>
    <script>
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

      ga('create', 'UA-73893765-1', 'auto');
      ga('send', 'pageview');

    </script>
  </head>
  <body>
    <div class="wrapper">
      <div id="menu-button">
        <a href="javascript:void(0);" onclick="foldMenu()" title="Expand menu"><img class="burger" src="{{site.baseurl}}/img/burger.png" alt="&#x2630;" /></a>
      </div>
      <nav id="menu" class="topnav">
        <ul>
          <li><a href="{{site.baseurl}}/" title="Home">Home</a></li>
          <li><a href="{{site.baseurl}}/blog/" title="Blog">Blog</a></li>
          <li><a href="{{site.baseurl}}/about-me/" title="About me">About me</a></li>
          <li><a href="{{site.baseurl}}/contact/" title="Contact me">Contact</a></li>
        </ul>
      </nav>
      <div id="header">
        <a href="{{site.baseurl}}/#photo"><img id="my-photo" src="{{site.baseurl}}/img/michal.jpeg" alt="Michał Cichoń" title="My photo" /></a>
      </div>
      <div id="main-space">
        <div id="main-space-content">
          {{content}}
        </div>
      </div>
      <div class="push"></div>
    </div>
    <div id="footer" class="footer">
      <div class="footer-outer-wrapper">
        <div class="footer-wrapper">
          <div class="left">
            <p>{{site.author}} &copy; <span id="currentYear">{{ site.time | date: '%Y' }}</span></p>
          </div>
          <div class="right">
            <p>
              <a href="https://twitter.com/michal_cichon">
                <object class="footer-logo" type="image/svg+xml" data="{{site.baseurl}}/img/twitter-logo.svg" width="20" height="20">
                  Twitter
                </object>
              </a>
              &nbsp;
              <a href="https://github.com/michalcichon">
                <object class="footer-logo" type="image/svg+xml" data="{{site.baseurl}}/img/github-logo.svg" width="20" height="20">
                  GitHub
                </object>
              </a>
              &nbsp;
              <a href="https://stackoverflow.com/users/2579827/michal-cichon">
                <object class="footer-logo" type="image/svg+xml" data="{{site.baseurl}}/img/stackoverflow-logo.svg" width="20" height="20">
                  Stack Overflow
                </object>
              </a>
              &nbsp;
              <a href="https://www.linkedin.com/in/michalcichon">
                <object class="footer-logo" type="image/svg+xml" data="{{site.baseurl}}/img/linkedin-logo.svg" width="20" height="20">
                  LinkedIn
                </object>
              </a>
            </p>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
