<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <title>{% if page.title %} {{ page.title }} | {% endif %} {{ site.title }}</title>
    <link href="https://fonts.googleapis.com/css?family=Raleway%7CPoiret+One%7CRoboto%7CRoboto+Condensed&subset=latin-ext" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="{{site.baseurl}}/css/main.min.css?t={{site.time | date: "%Y%m%d"}}">
    <link rel="shortcut icon" href="{{site.baseurl}}/favicon.png">
    <link rel="alternate" type="application/rss+xml" title="RSS Feed" href="{{site.baseurl}}/feed.xml" />
    <meta name="theme-color" content="#ffffff">
    <meta name="description" content="Personal webpage of Michał Cichoń - iOS software developer from Kraków, Poland. Development of Objective-C and Swift iPad and iPhone applications.">
    <meta name="keywords" content="Michal,Cichon,Krakow,iOS,CocoaTouch">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta property="og:title" content="Michał Cichoń - iOS software developer from Kraków, Poland">
    <meta property="og:url" content="http://michalcichon.github.io/about-me/">
    <meta property="og:image" content="http://michalcichon.github.io/img/my-photo.jpg">
    <meta property="profile:first_name" content="Michał">
    <meta property="profile:last_name" content="Cichoń">
    <script src="{{site.baseurl}}/js/main.min.js?t={{site.time | date: "%Y%m%d"}}"></script>
    <script>
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

      ga('create', 'UA-73893765-1', 'auto');
      ga('send', 'pageview');

    </script>
  </head>
  <body>
    <div class="wrapper">
      <div id="menu-button">
        <a href="javascript:void(0);" onclick="foldMenu()" title="Expand menu"><img class="burger" src="{{site.baseurl}}/img/burger.png" alt="&#x2630;" /></a>
      </div>
      <nav id="menu" class="topnav">
        <ul>
          <li><a href="{{site.baseurl}}/" title="Home">Home</a></li>
          <li><a href="{{site.baseurl}}/blog/" title="Blog">Blog</a></li>
          <li><a href="{{site.baseurl}}/about-me/" title="About me">About me</a></li>
          <li><a href="{{site.baseurl}}/contact/" title="Contact me">Contact</a></li>
        </ul>
      </nav>
      <div id="header">
        <img id="my-photo" src="{{site.baseurl}}/img/my-photo.jpg" alt="Michał Cichoń" title="My photo" />
      </div>
      <div id="main-space">
        {{content}}

<!--
  {% for node in site.pages %}
    {% if page.url == node.url %}
      <li class="active"><a href="{{node.url}}" class="active">{{node.title}}</a></li>
    {% else if node.title.length > 0 %}
      <li><a href="{{node.url}}">{{node.title}}</a></li>
    {% endif %}
  {% endfor %}

-->
      </div>
      <div class="push"></div>
    </div>
    <div id="footer" class="footer">
      <p>made with &#x2764; in KRK · {{site.author}} · <sub id="currentYear">{{ site.time | date: '%Y' }}</sub></p>
    </div>
  </body>
</html>
