---
layout: default
---

<div class="home">
  
  {{ content }}

  <ul class="post-list">
    {% for post in site.posts %}
      <li class="post-element">
        {% if post.thumbnail %}
          <a class="link-around-image" {% if post.background %}style="background-color: {{post.background}}"{% endif %} href="{{ post.url | relative_url }}"><img class="post-thumbnail" src="{{site.url}}/assets/thumbnails/{{post.thumbnail}}" alt=""></a>
          {% else %}
          <a class="link-around-image thumbnail-default-background" href="{{ post.url | relative_url }}"><img class="post-thumbnail" src="{{site.url}}/assets/thumbnails/default.png" alt=""></a>
        {% endif %}
        
        {% assign date_format = site.minima.date_format | default: "%b %-d, %Y" %}
        <span class="post-meta">{{ post.date | date: date_format }}</span>

        <h2>
          <a class="post-link" href="{{ post.url | relative_url }}">{{ post.title | escape }}</a>
        </h2>
        <a class="no-decoration" href="{{ post.url | relative_url }}"><p class="post-description">{{post.description}}</p></a>
      </li>
      <li style="clear: both; height: 10px;"></li>
    {% endfor %}
  </ul>

  <p class="rss-subscribe">You can subscribe to my blog <a href="{{ "/feed.xml" | relative_url }}">via RSS</a>!</p>

</div>