---
layout: default
---

<article class="post" itemscope itemtype="http://schema.org/BlogPosting">

  <header class="post-header">
    <h1 class="post-title" itemprop="name headline">{{ page.title | escape }}</h1>
    <p class="post-meta">
      <time datetime="{{ page.date | date_to_xmlschema }}" itemprop="datePublished">
        {% assign date_format = site.minima.date_format | default: "%b %-d, %Y" %}
        {{ page.date | date: date_format }}
      </time>
      {% if page.author %}
        • <span itemprop="author" itemscope itemtype="http://schema.org/Person"><span itemprop="name">{{ page.author }}</span></span>
      {% endif %}</p>
      <div class="tags">
        {% for tag in page.tags %}
          {% capture tag_name %}{{ tag }}{% endcapture %}
          <a href="/tag/{{ tag_name }}"><span class="highligher-rouge">#{{ tag_name }}</span></a>
        {% endfor %}
      </div>
  </header>

  <div class="post-content" itemprop="articleBody">
    {{ content }}
  </div>

  <div class="post-bio">
    <img src="{{site.baseurl}}/img/michal.jpeg" alt="Michał Cichoń" class="post-bio__avatar" loading="lazy" decoding="async">
    <div class="post-bio__text">
      <p><strong>Michał Cichoń</strong> is a Kraków-based iOS developer who’s been crafting web and mobile apps for over 15 years.</p>
      <p>He enjoys turning complex ideas into simple, useful experiences for everyday users.</p>
    </div>
  </div>

  {% if page.comments %}
  <div id="comments-wrapper">
    {% include giscus.html %}
  </div>
  {% endif %}

</article>

<div class="bigger-navigation-button">
  <a href="{{site.baseurl}}/blog/#show_more">Show more blog posts...</a>
</div>