---
layout: default
---
{% assign posts = site.tags[page.tag] %}
<div class="blog tag-page">
  <h1 class="tag-page__title">#{{ page.tag }}</h1>
  <p class="tag-page__count">{{ posts.size }} post{% if posts.size != 1 %}s{% endif %} · <a href="{{ '/blog/' | relative_url }}">All posts</a></p>
  <ul class="post-grid">
    {% for post in posts %}
      <li class="post-card">
        <a class="post-card__link" href="{{ post.url | relative_url }}">
          {% if post.image %}
            <div class="post-card__cover"><img class="post-card__img" src="{{ post.image | relative_url }}" alt="{{ post.image_alt | default: post.title | escape }}" loading="lazy" decoding="async"></div>
          {% else %}
            <span class="post-card__cover"></span>
          {% endif %}
          <div class="post-card__body">
            <h2 class="post-card__title">{{ post.title | escape }}</h2>
            <time class="post-card__date" datetime="{{ post.date }}">{{ post.date | date: "%b %-d, %Y" }}</time>
            <p class="post-card__excerpt">{{ post.description }}</p>
          </div>
        </a>
      </li>
    {% endfor %}
  </ul>
</div>
